.list-group-item.active{
        background-color: #a8ddfb;
        border-color: #a8ddfb;
}

.list-group-item a{
    color:#676060;
}

.sidebar-wrapper .sidebar-header .logo-img {
    margin-top: 10px;
    width: 215px;
    height: 70px;
}

.table-responsive {
    overflow-x: unset !important;
}
table.dataTable {
    width: 100% !important;
}
.dataTables_length label {
  display: flex;
  align-items: center;
  gap: 6px; 
}

.dataTables_length select {
  margin: 0 4px;
}

.btn-rounded{
    border-radius: 50%;
}
